/* Don't edit this yet pls */

.abtusHeader {
    font-size: 60px;
    margin-left: 50px;
    margin-top: 10 px;
    margin-bottom: 100px;
}

h2 {
    font-size: 45px;
    margin-left: 250px;
    margin-bottom: 0px;
    margin-top: 60px;

}

.creatorInfo {
    display: flex;
    color: rgb(36, 36, 36);
    text-align: justify;
}

.creatorInfo p {
    margin: 35px 75px 50px 250px;
    font-size: 30px;
    
}

.creatorInfo div img {
    margin-right: 300px;
    width: 250px;
    height: auto;
    border-radius: 30px;
}

.belldrawing {
    margin-right: 300px;
    width: 250px;
    height: auto;
    border-radius: 30px;
    padding-left: 75px;
}



