nav {
    background-color: #212738;
}

       nav ul {
    list-style-type: none;
    margin-right: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    
}

ul li a:hover {
    background-color: #111;
}


.first{
    float:right;
}

